.mahjong-table {
    padding: 1rem;
}

.tile {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 90px;
    border: 1px solid black;
}

.current-player {
    color: red;
}