.mj-table {
  height: 100vh;
  min-width: 1200px;
  min-height: 900px;
  background: radial-gradient(
    circle,
    rgba(2, 228, 34, 1) 0%,
    rgba(9, 121, 86, 1) 100%
  );
  margin-right: 310px; /* TODO: remove when not using debug */
}

/* Dice */
.mj-dice {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice {
  margin-top: 1em;
}

/* Tile */
.tile-back {
  background-color: green;
  border: 1px solid black;
  border-radius: 10px;
}

/* Mahjong table */
.mj-grid {
  height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    '. top .'
    'left middle right'
    '. bottom .';
}

.bottom {
  grid-area: bottom;
  width: max-content;
  margin-bottom: 3em;
}

.right {
  grid-area: right;
  align-self: center;
  justify-self: end;
  width: max-content;
  transform-origin: center right;
  transform: rotate(-90deg) translate(50%, -50%);
  margin-right: 1em;
}

.top {
  grid-area: top;
  justify-self: center;
  width: max-content;
  margin-top: 1em;
}

.left {
  grid-area: left;
  align-self: center;
  width: max-content;
  transform-origin: center left;
  transform: rotate(90deg) translate(-50%, -50%);
  margin-left: 1em;
}

.middle {
  grid-area: middle;
}

/* Player's hand */
.player-hand {
  display: grid;
  grid-template-rows:
    [exposed] auto 25px
    [hand] auto 20px
    [actions] auto;
  justify-content: start;
}

.player-hand .exposed {
  grid-area: exposed;
}

.player-hand .exposed > * {
  display: inline-block;
  margin-right: 15px;
}

.player-hand .hand {
  grid-area: hand;
}

.player-hand .actions {
  grid-area: actions;
}

.player-hand .action-btn {
  display: inline-block;
  margin-right: 10px;
}

.player-hand .tile-wrapper {
  display: inline-block;
  width: 64px;
}

.player-hand .exposed .tile-wrapper {
  width: 40px;
}

.player-hand .concealed .tile-back {
  height: 46px;
}

.player-hand .selected {
  opacity: 0.3;
}

/* Opponent's hand */
.opponent-hand {
  display: grid;
  grid-template-rows:
    [exposed] auto 25px
    [hand] auto 20px;
  justify-content: start;
}

.opponent-hand .exposed {
  grid-area: exposed;
}

.opponent-hand .exposed > * {
  display: inline-block;
  margin-right: 15px;
}

.opponent-hand .hand {
  grid-area: hand;
}

.opponent-hand .tile-wrapper {
  display: inline-block;
  width: 40px;
}

.opponent-hand .bonus .tile-wrapper {
  width: 32px;
}

.opponent-hand .hand .tile-back {
  height: 48px;
}

.opponent-hand .concealed .tile-back {
  width: 32px;
  height: 38px;
}

/* Discard */
.middle .tile-wrapper {
  display: inline-block;
  width: 40px;
}
